.stm-template-car_rental .stm_offices_wrapper {
  padding: 28px 0 27px 25px;
  max-width: 248px;
  .location {
    margin-bottom: 27px;
    font-size: 18px;
    color: #F15942;
    letter-spacing: -0.4px;
  }
}