//pick up
.home {
.wrapper-pick_up {
  padding: 36px;
  background: url("../../images/fish.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  .pick_up {
    &__inner {
      padding: 0 0 54px 0;
      margin-top: 8px;
    }
    &__form {
      position: relative;
      display: inline-block;
      width: 354px;
      max-width: 100%;
      padding: 35px 30px 32px;
      background-color: #D9F1FA;
      text-align: left;
      h4 {
        margin-bottom: 7px;
        text-transform: uppercase;
        letter-spacing: -0.5px;
      }
      &__fields {
        &__location {
          padding-bottom: 10px;
          position: relative;
          .select2 {
            height: 40px;
            background-color: #fff !important;
            border: none;
            border-radius: 0;
            outline: none !important;
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            line-height: 40px;
            padding-left: 36px;
            color: #888888;
          }
          i {
            position: absolute !important;
            top: 13px !important;
            left: 11px !important;
            color: #3F404A !important;
            z-index: 25;
          }
          .select2-hidden-accessible {
            border: 0 !important;
            clip: rect(0 0 0 0) !important;
            height: 1px !important;
            margin: -1px !important;
            overflow: hidden !important;
            padding: 0 !important;
            position: absolute !important;
            width: 1px !important;
          }
          .select {
            opacity: 0;
            visibility: hidden
          }
          .select2 {
            width: 100% !important;
            outline: none !important;
          }
          .select2 > * {
            outline: none !important;
          }
          .select2-selection--single {
            height: 40px;
            background-color: #fff !important;
            outline: none !important;
            border: none;
            border-radius: 0;
          }
        }
        label {
          margin: 8px 0;
          color: #17293a;
          .checker {
            width: 16px;
            height: 16px;
            position: relative;
            margin: 0 5px 0 0 !important;
            padding: 0;
            display: inline-block;
            zoom: 1;
            vertical-align: middle;
            &__bg {
              background-image: url("../../images/rental-checks.png");
              background-size: 32px;
              width: 16px;
              height: 16px;
              display: inline-block;
              zoom: 1;
              text-align: center;
              background-position: 0 0;
            }
            &__return {
              width: 16px;
              height: 16px;
              opacity: 0;
            }
            .checked {
              background-position: -16px 0;
            }
          }
        }
        .date_time {
          margin-bottom: 18px;
          span:nth-child(1) {
            width: 60%;
          }
          span:nth-child(2) {
            width: 37%;
          }
          &__input {
            position: relative;
            display: flex;
            justify-content: space-between;
            input {
              padding-left: 37px;
              height: 40px;
              line-height: 40px;
              background-color: #fff;
              border: 0;
              color: #26628A;
              width: 100%;
              &:active, &:hover, &:focus {
                color: #26628A;
              }
            }
            &__time {
              padding-left: 10px;
              width: 100% !important;
              text-align: left;
              margin-left: auto;
            }
            i {
              position: absolute;
              top: 11px;
              left: 12px;
              font-size: 16px;
              opacity: 0.3;
              &:before {
                color: #6c98e1;
              }
            }
          }
        }
        i {
          position: relative;
          top: -1px;
          left: 10px;
        }
      }
    }
  }
}
}
.stm_same_return {
  display: none;
}

.stm_rent_location {
  z-index: 10;
  position: absolute;
  top: 187px;
  left: 81px;
  width: 270px;
}

.stm_rent_location {
  display: none;
}

.home {
  .select2-dropdown {
    min-height: 295px;
    border: 0;
    background-color: #eee !important;
    z-index: 50;
    width: 270px;
    .select2-results__options {
      max-height: 350px !important;
      li {
        border-bottom: 0;
        font-size: 14px;
        background-color: #eee;
        color: #555;

      }
      .select2-results__option--highlighted {
        background-color: #fff;
        color: #555;
      }
    }
  }
}
.stm_locations_description {
  position: absolute;
  width: 572px;
  min-height: 295px;
  top: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  left: 100%;
  z-index: 15;
  li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    background-color: white;
    .stm_offices_wrapper {
      max-width: 100%;
      background-color: white;
      padding: 28px 0 27px 25px;
      .location {
        margin-bottom: 27px;
        font-size: 18px;
        color: #F15942;
        letter-spacing: -0.4px;
        max-width: 220px;
      }
      .address {
        max-width: 220px;
        margin-bottom: 22px;
        position: relative;
        padding-left: 35px;
        font-size: 13px;
        line-height: 18px;
        color: #888888;
        i {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 20px;
          color: #26628A;
        }
      }
    }
    img {
      position: absolute;
      right: 22px;
      top: 22px;
    }
  }
}

.rental-overlay {
  visibility: hidden;
  opacity: 0;
}

.bg_overlay {
  .rental-overlay {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 35;
  }
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.stm_same_return {
  padding-bottom: 0 !important;
  .pickup_location {
    margin-bottom: 10px;
  }
}

.home {
  .select2-selection__rendered, .select2-selection__arrow {
    height: 40px !important;
    line-height: 40px !important;
    color: #888888 !important;
  }
}

.select2-selection__arrow {
  right: 10px !important;
}

//pick up

//our cars
.our-cars {
  &__parallax {
    position: static;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0;
    overflow: hidden;
    margin-bottom: 30px !important;
    padding-bottom: 51px !important;
    background-image: url(../../images/parallax_bg.jpg) !important;
  }
  .our-cars__inner {
    width: 100%;
    h4 {
      font-size: 30px;
      color: #ffffff;
      line-height: 50px;
      text-align: center;
      margin: 35px 0;
    }
  }
  &__products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  &__item {
    width: 33.3333%;
    padding: 0 15px;
    margin-bottom: 30px;
    &__wrapper {
      display: block;
      text-decoration: none !important;
      position: relative;
      height: 100%;
      background-color: #fff;
      overflow: hidden;
      z-index: 0;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #6BC5D3;
        transform: scale(0.8);
        transition: all 0.5s ease;
        opacity: 0;
        z-index: 15;
      }
      &:hover {
        &:before {
          transform: scale(1.2);
          opacity: 1;
        }
        .our-cars__prize, mark {
          background-color: #F15942 !important;
          color: #fff !important;
        }
        .our-cars__item__right__info {
          color: #3F404A !important;
        }
      }
    }
    &__top {
      padding: 41px 7px 25px 36px;
      position: relative;
      z-index: 20;
    }
    &__left {
      float: left;
      width: 55%;
      h3 {
        margin-bottom: 0;
        font-size: 22px;
        color: #3F404A;
        letter-spacing: -0.8px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.2;
      }
    }
    &__right {
      float: right;
      width: 35%;
      &__info {
        position: relative;
        padding-left: 30px;
        margin: -2px 0 13px 0;
        font-size: 13px;
        color: #777777;
        transition: all 0.3s ease;
        .stm {
          position: absolute;
          display: block;
          left: 0;
          top: 1px;
          font-size: 19px;
          color: #26628A;
          transition: all 0.3s ease;
        }
        span {
          font-size: 13px;
          line-height: 1.7;
          font-family: 'Open Sans', sans-serif;
        }
      }
    }
    &__image {
      padding: 0 15px;
      text-align: center;
      position: relative;
      z-index: 20;
      img {
        position: relative;
        top: -10px;
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
      }
    }
    &__title {
      margin-bottom: 17px;
      font-weight: 700;
      color: #272727;
      font-size: 14px;
      line-height: 1.6;
    }
  }
  &__prize {
    display: inline-block;
    padding: 5px 18px 6px 12px;
    background-color: #26628A;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s ease;
    mark {
      display: block;
      padding: 0;
      background-color: #26628A;
      color: #fff;
      font-size: 12px;
      transition: all 0.3s ease;
      font-family: 'Montserrat', sans-serif;
      line-height: 1.6;
      font-weight: 700;
    }
    &__amount {
      font-size: 24px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      display: flex;
      align-items: baseline;
    }
    &__day {
      font-size: 14px;
    }
  }
}

//our cars

.reserve {
  background: #3f404a;
  font-family: $Montserrat;
  font-weight: 700;

  &__block {
    padding-top: 40px;
    padding-bottom: 35px;
  }

  &__item {
    align-self: center;

    & h1 {
      text-transform: uppercase;
      font-size: 24px;
      line-height: 24px;
      color: $white;

      & span {
        color: $blue;
      }

    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    color: #D9F1FA;

    & p {
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      align-self: center;
    }

    & a {
      text-transform: uppercase;
      color: #D9F1FA;
      padding: 15px 21px;
      border: 2px solid #fff;
      font-size: 14px;
      font-weight: 700;
      border-radius: 3px;
      text-decoration: none;
      transition: .3s;
      display: flex;
      align-items: center;

      &:hover {
        background: $white;
        color: #F15942;
      }

      & i {
        color: #F15942;
        font-size: 18px;
        margin-right: 15px;
      }

    }

  }

}

.rent {
  margin-bottom: 47px;
  font-family: $Montserrat;

  &__tittle {
    margin: 35px 0;
    font-size: 30px;
    color: #273f44;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
  }

  &__block {

  }

  &__item {
    display: flex;
    margin-bottom: 28px;

    &__icon {
      width: 54px;
      height: 54px;
      margin: 0 20px 0 0;
      text-align: center;
      line-height: 58px;
      border-radius: 50%;
      font-size: 31px;
      color: #ffffff;
      background-color: #6bc5d3;

      & i {

      }

    }

    &__content {

      & h6 {
        font-size: 18px;
        color: #3F404A !important;
        letter-spacing: -0.5px;
        font-weight: 100;
        margin-bottom: 11px;
        line-height: 22px;
      }

      & p {
        font-family: $Open-Sans;
        line-height: 20px;
        font-size: 13px;
        color: #888888;
        font-weight: 400;
      }

    }

  }

}

@media only screen and (max-width: 767px) {
  .rent__item {
    flex-direction: column;
  }

  .rent__item__icon {
    margin-bottom: 15px;
  }
  .wrapper-pick_up {
    .pick_up__form {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 991px) {
  .our-cars__item {
    width: 50%;
  }

  .reserve__item {

    & h1 {
      text-align: center;
      margin-bottom: 20px;
    }

  }

  .reserve__right {
    flex-direction: column;

    & p {
      order: 2;
      margin-top: 20px;
    }

    & a {
      align-self: center;
      order: 1;
    }

  }
}

@media only screen and (max-width: 1025px) {
  .our-cars__item {
    width: 50%;
  }
  .wrapper-pick_up {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .our-cars__item {
    width: 100%;

  }
}

@media only screen and (max-width: 400px) {
  .wrapper-pick_up .pick_up__form__fields .date_time__input {
    flex-direction: column;
    span {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }
}